<p id="notice"><%= notice %></p>

<p>
  Short url:
  <strong><%= @shortened_url.short_url %></strong>
  will redirect to
  <strong><%= @shortened_url.long_url %></strong>
  (<%= link_to "TEST", "/" + @shortened_url.short_url, target: 'none' %> - opens in new tab)
</p>

<p>
  <a href="/">Create another short URL</a>
</p>
